* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  background-color: whitesmoke;
}

header h1 {
  display: inline-flex;
  background-color: #576f53;
  padding-left: 50px;
  padding-right: 10px;
}

header {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #273824;
  color: whitesmoke;
  font-size: 30px;
}

header nav ul li {
  display: inline;
}

nav {
  margin: 7px;
  float: right;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  padding: 20px;
}

ul li {
  display: flex;
  justify-content: space-between;
}

main {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.page-section > div {
  flex: 0 0 65%;
}

h2 {
  flex: 0 0 20%;
  padding-right: 15px;
  font-size: 65px;
  border-right-style: solid;
  border-right-width: thick;
  border-right-color: #576f53;
  color: #273824;
  text-align: right;
}

p {
  color: #273824;
  line-height: 30px;
  font-size: 19px;
}

#haley {
  background-color: #576f53;
  padding-left: 5px;
  padding-right: 5px;
  color: aliceblue;
}

#hello {
  font-size: 27px;
  font-weight: 900;
  padding-bottom: 10px;
}

#about {
  max-width: 640px;
}

/* flex container for work section */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  border: 4px solid #576f53;
  background-color: ghostwhite;
  color: #273824;
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 2em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
}

.project4 {
  background-image: url("https://imageio.forbes.com/specials-images/dam/imageserve/1128442176/0x0.jpg?format=jpg&width=1200");
  background-size: 375px;
}

.project5 {
  background-image: url("https://davidwalsh.name/demo/2019/09/weatherstack-forecast.gif");
  background-size: 375px;
}

.project3 {
  background-image: url("https://mediacloud.theweek.com/image/private/s--X-WVjvBW--/f_auto,t_content-image-full-desktop@1/v1608153534/57106_article_full.jpg");
  background-size: 375px;
}

.project1 {
  background-image: url("https://cdn.writermag.com/2019/03/question-marks.jpg");
  background-size: 788px;
  max-width: 788px;
}

.project2 {
  background-image: url("./assets/sign_up_photo.jpeg");
  background-size: 375px;
}

/* style and flex of portfolio items  */
.flex-item:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

.flex-item:hover {
  background-color: #8dad87;
}

.flex-item div {
  background-color: ghostwhite;
  padding: 8px 10px;
}

.flex-item h3 {
  font-size: 1.6rem;
}

/* contact section */

.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact address a {
  color: #273824;
  padding: 5px;
  text-decoration: none;
  font-size: 25px;
  font-style: normal;
  margin: 1px 1px;
  display: inline-block;
}

.contact address a:hover {
  color: #576f53;
}

img {
  max-width: 270px;
  max-height: 300px;
  margin-left: 30px;
  margin-top: 40px;
  margin-right: -40px;
  border-radius: 20px;
}

/* media section */

@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }

  .page-section > h2,
  .page-section > div {
    flex: 0 0 65%;
  }

  .page-section > h2 {
    border-right: none;
    border-bottom: 4px solid #273824;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }
}

@media screen and (max-width: 768px) {
  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }

  .flex-item:first-child {
    min-height: 150px;
  }

  .contact address {
    flex-direction: column;
    align-items: flex-start;
  }
}
